{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    
        <h2>Products</h2>
       <div class="container">
        {% include "admin/_navbar.html" %}
       </div>
        
  

    <table class="table table-bordered table-striped">

        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Hot</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

        {% for product in products %}
        <tr>

            <!-- ID -->
            <td>{{ product.id }}</td>

            <!-- IMAGE -->
            <td>
                {% if product.image %}
                    <img src="{{ url_for('static', filename='uploads/' + product.image) }}" width="60">
                {% else %}
                    No Image
                {% endif %}
            </td>

            <!-- NAME -->
            <td>{{ product.name }}</td>

            <!-- PRICE -->
            <td>Rs {{ product.price }}</td>

            <!-- HOT -->
            <td>
                {% if product.is_hot %}
                    🔥
                {% else %}
                    ❌
                {% endif %}
            </td>

            <!-- ACTIONS -->
            <td>

                <a href="{{ url_for('edit_product', id=product.id) }}" 
                   class="btn btn-warning btn-sm">
                    Edit
                </a>

                <a href="{{ url_for('delete_product', id=product.id) }}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Are you sure?')">
                    Delete
                </a>

            </td>

        </tr>
        {% endfor %}

        

        </tbody>

    </table>

</div>

{% endblock %}